@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Lato:wght@400;700&family=Montserrat:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  width: 100%;
  background: url(./assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header {
  font-family: 'Montserrat', sans-serif;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.9s ease-in forwards;
  padding: 0px 40px;
}
@keyframes slideDown {
  from{
    transform: translateY(-100px);
  }
  to{
    transform: translateY(0);
  }
}
header .logo{
  font-size: 20px;
  width: auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .logo h2{
  cursor: pointer;
}
header .nav{
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .nav ul{
  display: flex;
}
header .nav ul li{
  list-style: none;
  padding: 15px;
}
header .nav ul li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  /* text-transform: uppercase; */
  letter-spacing: 1.5px;
  color: #FFFFFF;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
header .nav ul li a:focus{
  outline: 2px solid white;
}
.sections .hero{
 max-width: 1200px;
padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  min-height: 100vh;
}
.sections .hero .hero-content{
  width: 430px;
}
@media (max-width:768px){
  header{
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  header .nav ul{
    flex-direction: column;
    text-align: center;
  }

  .sections .hero{
    flex-direction: column;
    text-align: center;
  }
}